In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [30]:
df = pd.read_csv('student_habits_performance.csv')

In [31]:
print('Prep for syntetic data creation utilizign ChatGPT:\n')
print(f'Unique Columns: {df.columns}\n')
print(f'Unique Values: {df.nunique()}\n')

print(f'Data Rows: {len(df)}')
print(f'Data Columns: {len(df.columns)}\n')
print(df['student_id'].unique())

Prep for syntetic data creation utilizign ChatGPT:

Unique Columns: Index(['student_id', 'age', 'gender', 'study_hours_per_day',
       'social_media_hours', 'netflix_hours', 'part_time_job',
       'attendance_percentage', 'sleep_hours', 'diet_quality',
       'exercise_frequency', 'parental_education_level', 'internet_quality',
       'mental_health_rating', 'extracurricular_participation', 'exam_score'],
      dtype='object')

Unique Values: student_id                       1000
age                                 8
gender                              3
study_hours_per_day                78
social_media_hours                 60
netflix_hours                      51
part_time_job                       2
attendance_percentage             320
sleep_hours                        68
diet_quality                        3
exercise_frequency                  7
parental_education_level            3
internet_quality                    3
mental_health_rating               10
extracurricular_participation       2
exam_score                        480
dtype: int64

Data Rows: 1000
Data Columns: 16

['S1000' 'S1001' 'S1002' 'S1003' 'S1004' 'S1005' 'S1006' 'S1007' 'S1008'
 'S1009' 'S1010' 'S1011' 'S1012' 'S1013' 'S1014' 'S1015' 'S1016' 'S1017'
 'S1018' 'S1019' 'S1020' 'S1021' 'S1022' 'S1023' 'S1024' 'S1025' 'S1026'
 'S1027' 'S1028' 'S1029' 'S1030' 'S1031' 'S1032' 'S1033' 'S1034' 'S1035'
 'S1036' 'S1037' 'S1038' 'S1039' 'S1040' 'S1041' 'S1042' 'S1043' 'S1044'
 'S1045' 'S1046' 'S1047' 'S1048' 'S1049' 'S1050' 'S1051' 'S1052' 'S1053'
 'S1054' 'S1055' 'S1056' 'S1057' 'S1058' 'S1059' 'S1060' 'S1061' 'S1062'
 'S1063' 'S1064' 'S1065' 'S1066' 'S1067' 'S1068' 'S1069' 'S1070' 'S1071'
 'S1072' 'S1073' 'S1074' 'S1075' 'S1076' 'S1077' 'S1078' 'S1079' 'S1080'
 'S1081' 'S1082' 'S1083' 'S1084' 'S1085' 'S1086' 'S1087' 'S1088' 'S1089'
 'S1090' 'S1091' 'S1092' 'S1093' 'S1094' 'S1095' 'S1096' 'S1097' 'S1098'
 'S1099' 'S1100' 'S1101' 'S1102' 'S1103' 'S1104' 'S1105' 'S1106' 'S1107'
 'S1108' 'S1109' 'S1110' 'S1111' 'S1112' 'S1113' 'S1114' 'S1115' 'S1116'
 'S1117' 'S1118' 'S1119' 'S1120' 'S1121' 'S1122' 'S1123' 'S1124' 'S1125'
 'S1126' 'S1127' 'S1128' 'S1129' 'S1130' 'S1131' 'S1132' 'S1133' 'S1134'
 'S1135' 'S1136' 'S1137' 'S1138' 'S1139' 'S1140' 'S1141' 'S1142' 'S1143'
 'S1144' 'S1145' 'S1146' 'S1147' 'S1148' 'S1149' 'S1150' 'S1151' 'S1152'
 'S1153' 'S1154' 'S1155' 'S1156' 'S1157' 'S1158' 'S1159' 'S1160' 'S1161'
 'S1162' 'S1163' 'S1164' 'S1165' 'S1166' 'S1167' 'S1168' 'S1169' 'S1170'
 'S1171' 'S1172' 'S1173' 'S1174' 'S1175' 'S1176' 'S1177' 'S1178' 'S1179'
 'S1180' 'S1181' 'S1182' 'S1183' 'S1184' 'S1185' 'S1186' 'S1187' 'S1188'
 'S1189' 'S1190' 'S1191' 'S1192' 'S1193' 'S1194' 'S1195' 'S1196' 'S1197'
 'S1198' 'S1199' 'S1200' 'S1201' 'S1202' 'S1203' 'S1204' 'S1205' 'S1206'
 'S1207' 'S1208' 'S1209' 'S1210' 'S1211' 'S1212' 'S1213' 'S1214' 'S1215'
 'S1216' 'S1217' 'S1218' 'S1219' 'S1220' 'S1221' 'S1222' 'S1223' 'S1224'
 'S1225' 'S1226' 'S1227' 'S1228' 'S1229' 'S1230' 'S1231' 'S1232' 'S1233'
 'S1234' 'S1235' 'S1236' 'S1237' 'S1238' 'S1239' 'S1240' 'S1241' 'S1242'
 'S1243' 'S1244' 'S1245' 'S1246' 'S1247' 'S1248' 'S1249' 'S1250' 'S1251'
 'S1252' 'S1253' 'S1254' 'S1255' 'S1256' 'S1257' 'S1258' 'S1259' 'S1260'
 'S1261' 'S1262' 'S1263' 'S1264' 'S1265' 'S1266' 'S1267' 'S1268' 'S1269'
 'S1270' 'S1271' 'S1272' 'S1273' 'S1274' 'S1275' 'S1276' 'S1277' 'S1278'
 'S1279' 'S1280' 'S1281' 'S1282' 'S1283' 'S1284' 'S1285' 'S1286' 'S1287'
 'S1288' 'S1289' 'S1290' 'S1291' 'S1292' 'S1293' 'S1294' 'S1295' 'S1296'
 'S1297' 'S1298' 'S1299' 'S1300' 'S1301' 'S1302' 'S1303' 'S1304' 'S1305'
 'S1306' 'S1307' 'S1308' 'S1309' 'S1310' 'S1311' 'S1312' 'S1313' 'S1314'
 'S1315' 'S1316' 'S1317' 'S1318' 'S1319' 'S1320' 'S1321' 'S1322' 'S1323'
 'S1324' 'S1325' 'S1326' 'S1327' 'S1328' 'S1329' 'S1330' 'S1331' 'S1332'
 'S1333' 'S1334' 'S1335' 'S1336' 'S1337' 'S1338' 'S1339' 'S1340' 'S1341'
 'S1342' 'S1343' 'S1344' 'S1345' 'S1346' 'S1347' 'S1348' 'S1349' 'S1350'
 'S1351' 'S1352' 'S1353' 'S1354' 'S1355' 'S1356' 'S1357' 'S1358' 'S1359'
 'S1360' 'S1361' 'S1362' 'S1363' 'S1364' 'S1365' 'S1366' 'S1367' 'S1368'
 'S1369' 'S1370' 'S1371' 'S1372' 'S1373' 'S1374' 'S1375' 'S1376' 'S1377'
 'S1378' 'S1379' 'S1380' 'S1381' 'S1382' 'S1383' 'S1384' 'S1385' 'S1386'
 'S1387' 'S1388' 'S1389' 'S1390' 'S1391' 'S1392' 'S1393' 'S1394' 'S1395'
 'S1396' 'S1397' 'S1398' 'S1399' 'S1400' 'S1401' 'S1402' 'S1403' 'S1404'
 'S1405' 'S1406' 'S1407' 'S1408' 'S1409' 'S1410' 'S1411' 'S1412' 'S1413'
 'S1414' 'S1415' 'S1416' 'S1417' 'S1418' 'S1419' 'S1420' 'S1421' 'S1422'
 'S1423' 'S1424' 'S1425' 'S1426' 'S1427' 'S1428' 'S1429' 'S1430' 'S1431'
 'S1432' 'S1433' 'S1434' 'S1435' 'S1436' 'S1437' 'S1438' 'S1439' 'S1440'
 'S1441' 'S1442' 'S1443' 'S1444' 'S1445' 'S1446' 'S1447' 'S1448' 'S1449'
 'S1450' 'S1451' 'S1452' 'S1453' 'S1454' 'S1455' 'S1456' 'S1457' 'S1458'
 'S1459' 'S1460' 'S1461' 'S1462' 'S1463' 'S1464' 'S1465' 'S1466' 'S1467'
 'S1468' 'S1469' 'S1470' 'S1471' 'S1472' 'S1473' 'S1474' 'S1475' 'S1476'
 'S1477' 'S1478' 'S1479' 'S1480' 'S1481' 'S1482' 'S1483' 'S1484' 'S1485'
 'S1486' 'S1487' 'S1488' 'S1489' 'S1490' 'S1491' 'S1492' 'S1493' 'S1494'
 'S1495' 'S1496' 'S1497' 'S1498' 'S1499' 'S1500' 'S1501' 'S1502' 'S1503'
 'S1504' 'S1505' 'S1506' 'S1507' 'S1508' 'S1509' 'S1510' 'S1511' 'S1512'
 'S1513' 'S1514' 'S1515' 'S1516' 'S1517' 'S1518' 'S1519' 'S1520' 'S1521'
 'S1522' 'S1523' 'S1524' 'S1525' 'S1526' 'S1527' 'S1528' 'S1529' 'S1530'
 'S1531' 'S1532' 'S1533' 'S1534' 'S1535' 'S1536' 'S1537' 'S1538' 'S1539'
 'S1540' 'S1541' 'S1542' 'S1543' 'S1544' 'S1545' 'S1546' 'S1547' 'S1548'
 'S1549' 'S1550' 'S1551' 'S1552' 'S1553' 'S1554' 'S1555' 'S1556' 'S1557'
 'S1558' 'S1559' 'S1560' 'S1561' 'S1562' 'S1563' 'S1564' 'S1565' 'S1566'
 'S1567' 'S1568' 'S1569' 'S1570' 'S1571' 'S1572' 'S1573' 'S1574' 'S1575'
 'S1576' 'S1577' 'S1578' 'S1579' 'S1580' 'S1581' 'S1582' 'S1583' 'S1584'
 'S1585' 'S1586' 'S1587' 'S1588' 'S1589' 'S1590' 'S1591' 'S1592' 'S1593'
 'S1594' 'S1595' 'S1596' 'S1597' 'S1598' 'S1599' 'S1600' 'S1601' 'S1602'
 'S1603' 'S1604' 'S1605' 'S1606' 'S1607' 'S1608' 'S1609' 'S1610' 'S1611'
 'S1612' 'S1613' 'S1614' 'S1615' 'S1616' 'S1617' 'S1618' 'S1619' 'S1620'
 'S1621' 'S1622' 'S1623' 'S1624' 'S1625' 'S1626' 'S1627' 'S1628' 'S1629'
 'S1630' 'S1631' 'S1632' 'S1633' 'S1634' 'S1635' 'S1636' 'S1637' 'S1638'
 'S1639' 'S1640' 'S1641' 'S1642' 'S1643' 'S1644' 'S1645' 'S1646' 'S1647'
 'S1648' 'S1649' 'S1650' 'S1651' 'S1652' 'S1653' 'S1654' 'S1655' 'S1656'
 'S1657' 'S1658' 'S1659' 'S1660' 'S1661' 'S1662' 'S1663' 'S1664' 'S1665'
 'S1666' 'S1667' 'S1668' 'S1669' 'S1670' 'S1671' 'S1672' 'S1673' 'S1674'
 'S1675' 'S1676' 'S1677' 'S1678' 'S1679' 'S1680' 'S1681' 'S1682' 'S1683'
 'S1684' 'S1685' 'S1686' 'S1687' 'S1688' 'S1689' 'S1690' 'S1691' 'S1692'
 'S1693' 'S1694' 'S1695' 'S1696' 'S1697' 'S1698' 'S1699' 'S1700' 'S1701'
 'S1702' 'S1703' 'S1704' 'S1705' 'S1706' 'S1707' 'S1708' 'S1709' 'S1710'
 'S1711' 'S1712' 'S1713' 'S1714' 'S1715' 'S1716' 'S1717' 'S1718' 'S1719'
 'S1720' 'S1721' 'S1722' 'S1723' 'S1724' 'S1725' 'S1726' 'S1727' 'S1728'
 'S1729' 'S1730' 'S1731' 'S1732' 'S1733' 'S1734' 'S1735' 'S1736' 'S1737'
 'S1738' 'S1739' 'S1740' 'S1741' 'S1742' 'S1743' 'S1744' 'S1745' 'S1746'
 'S1747' 'S1748' 'S1749' 'S1750' 'S1751' 'S1752' 'S1753' 'S1754' 'S1755'
 'S1756' 'S1757' 'S1758' 'S1759' 'S1760' 'S1761' 'S1762' 'S1763' 'S1764'
 'S1765' 'S1766' 'S1767' 'S1768' 'S1769' 'S1770' 'S1771' 'S1772' 'S1773'
 'S1774' 'S1775' 'S1776' 'S1777' 'S1778' 'S1779' 'S1780' 'S1781' 'S1782'
 'S1783' 'S1784' 'S1785' 'S1786' 'S1787' 'S1788' 'S1789' 'S1790' 'S1791'
 'S1792' 'S1793' 'S1794' 'S1795' 'S1796' 'S1797' 'S1798' 'S1799' 'S1800'
 'S1801' 'S1802' 'S1803' 'S1804' 'S1805' 'S1806' 'S1807' 'S1808' 'S1809'
 'S1810' 'S1811' 'S1812' 'S1813' 'S1814' 'S1815' 'S1816' 'S1817' 'S1818'
 'S1819' 'S1820' 'S1821' 'S1822' 'S1823' 'S1824' 'S1825' 'S1826' 'S1827'
 'S1828' 'S1829' 'S1830' 'S1831' 'S1832' 'S1833' 'S1834' 'S1835' 'S1836'
 'S1837' 'S1838' 'S1839' 'S1840' 'S1841' 'S1842' 'S1843' 'S1844' 'S1845'
 'S1846' 'S1847' 'S1848' 'S1849' 'S1850' 'S1851' 'S1852' 'S1853' 'S1854'
 'S1855' 'S1856' 'S1857' 'S1858' 'S1859' 'S1860' 'S1861' 'S1862' 'S1863'
 'S1864' 'S1865' 'S1866' 'S1867' 'S1868' 'S1869' 'S1870' 'S1871' 'S1872'
 'S1873' 'S1874' 'S1875' 'S1876' 'S1877' 'S1878' 'S1879' 'S1880' 'S1881'
 'S1882' 'S1883' 'S1884' 'S1885' 'S1886' 'S1887' 'S1888' 'S1889' 'S1890'
 'S1891' 'S1892' 'S1893' 'S1894' 'S1895' 'S1896' 'S1897' 'S1898' 'S1899'
 'S1900' 'S1901' 'S1902' 'S1903' 'S1904' 'S1905' 'S1906' 'S1907' 'S1908'
 'S1909' 'S1910' 'S1911' 'S1912' 'S1913' 'S1914' 'S1915' 'S1916' 'S1917'
 'S1918' 'S1919' 'S1920' 'S1921' 'S1922' 'S1923' 'S1924' 'S1925' 'S1926'
 'S1927' 'S1928' 'S1929' 'S1930' 'S1931' 'S1932' 'S1933' 'S1934' 'S1935'
 'S1936' 'S1937' 'S1938' 'S1939' 'S1940' 'S1941' 'S1942' 'S1943' 'S1944'
 'S1945' 'S1946' 'S1947' 'S1948' 'S1949' 'S1950' 'S1951' 'S1952' 'S1953'
 'S1954' 'S1955' 'S1956' 'S1957' 'S1958' 'S1959' 'S1960' 'S1961' 'S1962'
 'S1963' 'S1964' 'S1965' 'S1966' 'S1967' 'S1968' 'S1969' 'S1970' 'S1971'
 'S1972' 'S1973' 'S1974' 'S1975' 'S1976' 'S1977' 'S1978' 'S1979' 'S1980'
 'S1981' 'S1982' 'S1983' 'S1984' 'S1985' 'S1986' 'S1987' 'S1988' 'S1989'
 'S1990' 'S1991' 'S1992' 'S1993' 'S1994' 'S1995' 'S1996' 'S1997' 'S1998'
 'S1999']

In [32]:
df2 = pd.read_csv('synthetic_student_extension.csv')

In [33]:
df2.head()

  student_id  library_visits_per_month  caffeine_consumption_mg_per_day
0      S1000                         6                              395
1      S1001                        19                              351
2      S1002                        14                              267
3      S1003                        10                              190
4      S1004                         7                              153

In [35]:
data = pd.merge(df, df2, on='student_id', how='left')

In [47]:
for col in data.columns:
    print(col)

print(data.shape)

student_id
age
gender
study_hours_per_day
social_media_hours
netflix_hours
part_time_job
attendance_percentage
sleep_hours
diet_quality
exercise_frequency
parental_education_level
internet_quality
mental_health_rating
extracurricular_participation
exam_score
library_visits_per_month
caffeine_consumption_mg_per_day
(1000, 18)

In [ ]:
data.to_excel('synthetic_student_data.xlsx', index=False)